# Ignore environment variable files
.env
.venv/

# Ignore application log files
app.log

# Ignore compiled Python files
__pycache__/

# Ignore test coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Ignore test artifacts
.tox/
.cache/
*.pyc
*.pyo
*.pyc

# Ignore database files
*.db